*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

.logo img{
    width: 250px;
    position: absolute;
}

.menu{
    width: 100%;
    height: 80px;
    box-shadow: 0 0 10px;
}

.menu ul {
    float: right;
    margin-right: 20px;
}

.menu ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}

.menu ul li a{
    color: #000;
}

.menu a:hover{
    color: royalblue;
    transition: 0.5s;
}

.checkbtn{
    float: right;
    margin-top: 5px;
    margin-right: 33px;
    line-height: 80px;
    cursor: pointer;
    display: none;
}
.checkbtn i{
    font-size: 27px;
}

#chck{
    display: none;
}

@media screen and (max-width:1185px){
    .logo img{
        width: 200px;
        margin-top: 10px;
    }
}

@media screen and (max-width:1141px){
    .checkbtn{
        display: block;
    }

    .menu ul{
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100vh;
        background: rgb(253, 252, 204);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    .menu ul li{
        display: block;
    }

    .menu ul li a{
        font-size: 20px;
    }

    .menu a:hover{
        color: blue;
    }

    #chck:checked ~ ul {
        left: 0;
    }
}